body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

hr {
  border: 1px solid rgb(71, 16, 219);
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h1, h2, strong {
  color: rgb(71, 16, 219);
}

p {
  color: rgb(38, 38, 38);
}

ul {
  border: 2px solid orange;
}

ol {
  border: 2px solid purple;
}

ol, ul {
  padding: 5px 20px;
  border-radius: 4px;
}

em {
  color: gray;
}
    